Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 modes
        - Dev
           Dev Server, SourceMaps, Eslint, Not Minified Js & CSS
        - Prod

Git

    Production
        2.0.0
    Development
        2.0.2